
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #222;
}


header {
  background-color: #4b830d;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
  border-radius: 30px;
}

nav .btn-header {
  background-color: #f97316;
  color: white;
  padding: 10px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav .btn-header:hover {
  background-color: #ea580c;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Main */
main {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

main h1 {
  margin-bottom: 30px;
  color: #14532d;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
}

.half {
  width: calc(50% - 10px);
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.btn-enviar {
  background-color: #22c55e;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #16a34a;
}


footer {
  background-color: #4b830d;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 26px;
  color: white;
  padding-left: 10px;
}

.btn-footer {
  background-color: #f97316;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.btn-footer:hover {
  background-color: #ea580c;
}
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 10px;
  }}
